<div
  class="container-fluid d-flex align-items-center justify-content-center text-white vh-100"
  [ngStyle]="{
    'background-image': 'url(assets/background-voiture.jpg)',
    'background-size': 'cover',
    'background-position': 'center'
  }"
>
  <div class="bg-dark bg-opacity-75 p-5 rounded text-center shadow-lg">
    <h1 class="display-4 fw-bold mb-3">Bienvenue Alliby's Car Rental</h1>
    <p class="lead">Louez une voiture en quelques clics, confortablement et rapidement.</p>
    <a routerLink="/cars" class="btn btn-primary btn-lg mt-4">Voir les véhicules disponibles</a>
  </div>
</div>
